{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
      {% else %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="" width="300" height="300">
      </div>
    {% endif %}

      <div class="archive__item-content">
          <div class="badge-flex">
            {% if post.venue_short %}
              <p class="archive__item-venue small">{{ post.venue_short }}</p>
            {% endif %}
            {% if post.award %}
              <p class="archive__item-award small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
                    width="1em" height="1em" fill="orange" style="vertical-align: -0.1em;">
                  <path d="M4.1 38.2C1.4 34.2 0 29.4 0 24.6C0 11 11 0 24.6 0L133.9 0c11.2 0 21.7 5.9 27.4 15.5l68.5 114.1-48.2 32.2L4.1 38.2zm503.7 0L330.4 161.8l-48.2-32.2L350.7 15.5C356.5 5.9 366.9 0 378.1 0L487.4 0C501 0 512 11 512 24.6c0 4.8-1.4 9.6-4.1 13.6zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256zM175.3 476.9L192 448l0-39.4c-19.1-11.1-35.1-27.1-46.2-46.2L96 362.3 77.8 419.7l97.5 57.2zM320 408.6l0 39.4 16.7 28.9 97.5-57.2L416 362.3l-49.8 .2c-11.1 19-27.1 35.1-46.2 46.2z"/>
                </svg> {{ post.award }}</p>
            {% endif %}
          </div>

          <h2 class="archive__item-title" itemprop="headline">
            {% if post.link %}
              <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% elsif post.url and post.collection == 'projects'%}
              <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
            {% else %}
              <span>{{ title }}</span>
            {% endif %}
          </h2>
      
          {% if post.authors %}
          <p class="archive__item-authors">{{ post.authors | markdownify | remove: "<p>" | remove: "</p>" }}</p>
          {% endif %}
          
          {% if post.read_time %}
            <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
      
              {% if post.collection == 'teaching' %}
                <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
              {% elsif post.collection == 'publications' %}
                <p>{{ post.date | default: "1900-01-01" | date: "%Y" }}, <i>{{ post.venue }}</i></p>
              {% elsif post.date %}
              <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
              {% endif %}
      
          {% if post.excerpt and site.read_more != 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
          {% elsif post.excerpt and site.read_more == 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
          {% endif %}

          {% if post.paperurl or post.slidesurl or post.videourl or post.codeurl %}
          <p>
            {% assign sep = '' %}
            {% if post.paperurl and post.paperurl != "" %}
              <a href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">Paper</a>{% assign sep = ' | ' %}
            {% endif %}
            {% if post.slidesurl and post.slidesurl != "" %}
              {{ sep }}<a href="{{ post.slidesurl }}" target="_blank" rel="noopener noreferrer">Presentation</a>{% assign sep = ' | ' %}
            {% endif %}
            {% if post.videourl and post.videourl != "" %}
              {{ sep }}<a href="{{ post.videourl }}" target="_blank" rel="noopener noreferrer">Video</a>{% assign sep = ' | ' %}
            {% endif %}
            {% if post.codeurl and post.codeurl != "" %}
              {{ sep }}<a href="{{ post.codeurl }}" target="_blank" rel="noopener noreferrer">Source Code</a>
            {% endif %}
          </p>
          {% endif %}
      </div>
  </article>
</div>
